<div *ngIf="posts && posts.length > 0">
    
    <div *ngFor="let post of posts" class="pt-4 pb-3 border-bottom">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      
      <div class="text-muted">
        <span class="badge rounded-pill text-bg-light me-2">{{ post.category.name }}</span>
        <span> ©{{ post.createdDate | date: 'medium' }}</span>
      </div>
    </div>
  </div>
  
  <div *ngIf="posts && posts.length === 0" class="text-center text-muted">
    No posts available.
  </div>

